<h2> Update Canned Donation: </h2>

<form action="/cannedfood/update/<%= @can_to_edit.id %>" method="post">
  <input type="hidden" name="_method" value= "put">

  <label>How many canned goods are you willing to part with? :</label>
  <input type="integer" name="num_cans" placeholder="<%=@can_to_edit.num_cans%>">
  

  <label>Have a container to put them in (Yes/No) ?:</label>
  <input type="text" name="container" placeholder="<%=@can_to_edit.container%>">
  

  <label>Pickup Date(Dec.20-Jan.4) / Time :</label>
  <input type="text" name="12-22 4:30pm" placeholder="<%=@can_to_edit.pickup_date%>">


	<label>Pickup Location:</label>
  <input type="text" name="pickup_location" placeholder="<%=@can_to_edit.pickup_location%>">

  <input type="submit" value="Submit!">

</form>
<a href="/profile/thankyou">Cancel</a>




